{% extends 'base.html' %}

{% block content %}

<div>
    <h1 class="text-4xl text-success mb-4">Contact Manager</h1>

    <!-- Search Field -->
    
        <label class="input relative w-80 max-w-md mb-4">
            
            <input type="search" name="search" value="{{ request.GET.q }}" placeholder="Search contacts..." class="pl-8 pr-2 py-2 w-full border rounded outline-none" hx-get='{%url 'search'%}' hx-target='#contacts-list' hx-trigger='keyup delay:500ms'  />
        </label>
    

    {% include 'partials/contact-list.html' %}

</div>

{% endblock %}
