<div id="contacts-list">
    {% if contacts %}
    <div class="overflow-x-auto">
        <table class="table table-zebra table-pin-rows">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>File</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody id="contact-list-body">
                {% for contact in contacts %}
                    {%include 'partials/contact-row.html'%}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>No contacts found.</p>
    {% endif %}
</div>
